{% extends "base.html" %}
{% block content %}
<!-- Start Slider Area -->
<div class="slider__container">
    <div class="slider__activation__wrap owl-carousel owl-theme">
        <!-- Start Single Slide -->
        <div class="slide slider__fixed--height slide__align--center" data--black__overlay="6"
            style="background: rgba(0, 0, 0, 0) url(images/bg/6.jpeg) no-repeat scroll 0 0 / cover;">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-12">
                        <div class="slider__inner">
                            <h4>KALE-TECH</h4>
                            <h1>HORIZONTALE GESTUURDE BORINGEN</h1>
                            <p>WIJ LEGGEN HET PAD NAAR JE PROJECTEN</p>
                            <div class="slider__btn">
                                <a class="htc__btn" href="contact.html">VRAAG EEN OFFERTE</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Single Slide -->
        <!-- Start Single Slide -->
        <div class="slide slider__fixed--height slide__align--center" data--black__overlay="6"
            style="background: rgba(0, 0, 0, 0) url(images/bg/6.jpeg) no-repeat scroll 0 0 / cover;">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-12">
                        <div class="slider__inner">
                            <h4>KALE-TECH</h4>
                            <h1>HORIZONTALE GESTUURDE BORINGEN</h1>
                            <p>WIJ LEGGEN HET PAD NAAR JE PROJECTEN</p>
                            <div class="slider__btn">
                                <a class="htc__btn" href="contact.html">VRAAG EEN OFFERTE</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Single Slide -->
    </div>
</div>
<!-- Start Slider Area -->

<!-- Start About Area -->
<section class="htc__about__area about--2 text__pos ptb--150 bg__white">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="col-md-8">
                    <<div class="section__title text-center">
                        <h2 class="title__line">HORIZONTALE GESTUURDE <span class="text--theme">BORINGEN</span></h2>
                        <p>Horizontale gestuurde boringen (HDD) zijn de oplossing voor al je infrastructuurproblemen. Met
                            onze geavanceerde boortechnologie kunnen we boorgaten maken in de meest onmogelijke locaties,
                            zonder de omgeving te beschadigen. Of het nu gaat om de aanleg van leidingen en kabels onder
                            bebouwing, wegen of rivieren, wij zorgen ervoor dat het op een snelle, efficiënte en
                            milieuvriendelijke manier gebeurt. Onze HDD-methoden maken het ook mogelijk om grotere leidingen
                            en kabels aan te leggen, waardoor de kosten vaak lager zijn dan bij traditionele methoden. Kies
                            voor HDD en bespaar tijd, geld en bescherm de natuur tegelijkertijd.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <img src="images/client_photos/17.jpeg" style="opacity: 0.75;"/>
                </div>
                
            </div>
        </div>
        <div class="row mt--70 ">
            <div class="col-md-4 col-lg-3 col-lg-offset-1 col-sm-6 col-xs-12">
                <div class="about foo">
                    <div class="about__inner">
                        <h2>ONZE WAARDEN</h2>
                        <p>Ons familiebedrijf staat voor kwaliteit, betrouwbaarheid en persoonlijke aandacht. Dit zal
                            je ervaren tijdens onze professionele aanpak van horizontale gestuurde boringen.</p>
                        <br>
                        <br>
                        <div class="about__icon">
                            <img src="images/others/icon/1.png" alt="icon images">
                        </div>
                    </div>
                    <div class="about__inner about__hober__info">
                        <h2>ONZE WAARDEN</h2>
                        <p>Ons familiebedrijf staat voor kwaliteit, betrouwbaarheid en persoonlijke aandacht. Dit zal
                            je ervaren tijdens onze professionele aanpak van horizontale gestuurde boringen.</p>
                        <br>
                        <br>
                        <div class="about__icon">
                            <img src="images/others/icon/1.png" alt="icon images">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 col-sm-6 col-xs-12">
                <div class="about foo">
                    <div class="about__inner">
                        <h2>ONS VERHAAL</a></h2>
                        <p>Wij zijn ontstaan uit een passie voor technologie en innovatie. 
                            Sinds oprichting hebben we ons gespecialiseerd in de professionele uitvoering van
                            horizontale gestuurde boringen.</p>
                        <br>
                        <br>
                        <div class="about__icon">
                            <img src="images/others/icon/2.png" alt="icon images">
                        </div>
                    </div>
                    <div class="about__inner about__hober__info active">
                        <h2>ONS VERHAAL</a></h2>
                        <p>Wij zijn ontstaan uit een passie voor technologie en innovatie. 
                            Sinds oprichting hebben we ons gespecialiseerd in de professionele uitvoering van
                            horizontale gestuurde boringen.</p>
                        <br>
                        <br>
                        <div class="about__icon">
                            <img src="images/others/icon/2.png" alt="icon images">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 hidden-sm col-xs-12">
                <div class="about foo">
                    <div class="about__inner">
                        <h2>ONZE CERTIFICATEN</h2>
                        <p>KALE-TECH is trots op het behalen van het VCA certificaat, wat aantoont dat we voldoen aan de
                            hoogste veiligheids- en kwaliteitsnormen. Dit certificaat garandeert onze klanten dat we
                            efficiënt en veilig werken.</p>
                        <br>
                        <br>
                        <div class="about__icon">
                            <img src="images/others/icon/3.png" alt="icon images">
                        </div>
                    </div>
                    <div class="about__inner about__hober__info">
                        <h2>ONZE CERTIFICATEN</h2>
                        <p>KALE-TECH is trots op het behalen van het VCA certificaat, wat aantoont dat we voldoen aan de
                            hoogste veiligheids- en kwaliteitsnormen. Dit certificaat garandeert onze klanten dat we
                            efficiënt en veilig werken.</p>
                        <br>
                        <br>
                        <div class="about__icon">
                            <img src="images/others/icon/3.png" alt="icon images">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text__shape">
        <h2>KALE-TECH</h2>
    </div>
</section>
<!-- End About Area -->
{% endblock %}