{% extends "base.html" %}
{% block content %}
<!-- Start Bradcaump area -->
<div class="ht__bradcaump__area" data--black__overlay="6"
    style="background: rgba(0, 0, 0, 0) url(images/service/services_bg.jpeg) no-repeat scroll center center / cover ;">
    <div class="ht__bradcaump__wrap">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="bradcaump__inner text-center">
                        <h2 class="bradcaump-title">PROJECTEN</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Bradcaump area -->
<!-- Start Latest Project Area -->
<section class="htc__latest__project__area ptb--50 bg__white">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section__title text-center">
                    <h2 class="title__line">ONZE GEREALISEERDE <span class="text--theme">PROJECTEN</span></h2>
                    <p>Bekijk hier een aantal sfeerbeelden van onze laatste realisaties!</p>
                    <br>
                        <a href="veiligheid.html"><img src="images/vca/cert_icon.png" style="height:60px;width:60px;" alt="vca cert"></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="htc__latest__project__wrap clearfix mt--60 ">
                {% for image in projects_images_list %}
                <!-- Start Single Project -->
                <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                    <div class="project foo">
                        <div class="project__thumb">
                            <a href="images/client_photos/{{ image }}.jpeg">
                                <img src="images/client_photos/{{ image }}.jpeg" alt="project images">
                            </a>

                        </div>
                    </div>
                </div>
                <!-- End Single Project -->
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<!-- End Latest Project Area -->
{% endblock %}